*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-around;
}

main h1 {
    font-size: 6em;
}

section{

    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px){

    main h1 {
        font-size: 3em;
    }

}

/*
in SCSS:

nav {
  padding-left: 2rem;
  background-color: #435058;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
  }

}

MEDIA FOR NAV
*/