.term {
  line-height: 150%;
  margin-bottom: 1rem;

  &__h2 {
    font-weight: bold;
    background-color: #999;
    border-radius: 0.5rem;
    padding-left: 1rem;
    color: rgb(58, 57, 57);
  }

  &__explain {
    color: #999;
    padding-left: 1rem;

  }
}
