img{
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    border-radius: 50%;

    display: block;
    margin: auto;
}

label {
    margin: 50px auto;
    text-align: center;
    width: fit-content;


    display: block;

}

.before {
    background-color: aquamarine;
}

.after {
    background-color: cadetblue;
}
